[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/GLEW"]
	path = third_party/GLEW
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "third_party/SDL3"]
	path = third_party/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/libpqxx"]
	path = third_party/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "third_party/cpr"]
	path = third_party/cpr
	url = https://github.com/libcpr/cpr.git
